.input_group {
  display: flex;
  justify-content: flex-start;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #ad1457;
  border: 0;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto;
}
